.List1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    
 
  }
  .Group1{
      padding-left:10%;
  }  
  .l1{
    padding-left:18%;
    font-family:"Alef" ;
    
  }
  .ch1{
  background-color:palegreen; 
  padding-left:6%;
  padding-right:6% ;

  }

  .container-fluid1{
    text-align: center;
  }
.m5{
text-align: center;
}
