.h1{
    color:palegreen;
    font-size:70px;
    font-family:'Dybbuk';
}
.h2{
    font-size:50px;  
    font-family:' FrankRuehl Backslanted';
    text-align: right;
    padding-right:12% ;
    margin-right:12% ;
    
    
}
