.App {
  text-align:center;
 /* font-size:5%; */
}
.imgLogo{
  justify-content: right;
 margin-top: 10px;
  margin-right: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left:auto;
 }
 .wrapImg{
  display: flex;


 }
 /* .Homepage{
   font-size:100px;
   font-family:Alef;
 }
  */
  .imges1{
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    /* margin-left:auto; */
    margin-right:60%;
    padding-right:60%;
  }
  /* .img1{
    margin-right: 50%;
    margin-right: 50%;
  } */
  .cur{
    margin-top: 20px;
    padding-top:20px;
    /* margin-left: 50px;
    padding-left: 50px; */
    /* direction: rtl; */
    /* border-width:20px; */
    /* margin-bottom:0px ;
    padding-bottom:0px ; */
    /* padding-right: 90%; */
  }
.fo{
  margin-top: 20px;
  padding-top:20px;
  margin-left:20px;
  padding-left:20px;
  margin-right:800px;
  padding-right:800px;
}